.greet, .counter {
	text-align: center;
	margin: 200px auto;
	width: 300px;
}

h1, h2, h3 {
	font-family: Helvetica, Arial, "Sans Serif";
}

.greet h1 { 
	text-decoration: underline;
}

.greet h2 {

}

.greet {
		
}

.counter {

}

.number {

}
